body {
    background-color: #f7b538;
    color: #c32f27;
    font-family: helvetica, sans-serif;
    margin-left: 150px;
    margin-right: 150px;
}

header, footer {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

main {
    margin-left: 100px;
    margin-right: 100px;
}

h1, h2, h3 {
    font-family: Georgia, 'Courier New';
    color: #780116;
    text-align: center;
}

a {
    color: #780116;
    font-weight: bold;
}

a:hover {
    color: #c32f27;
}

figure {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 300px;
    height: 350px;
    margin: 0 auto;
    padding: 20px 10px;
    object-fit: cover;
    border-radius: 10px;
}

figcaption {
    font-style: italic;
    display: block;
}

nav {
    text-align: center;
}

ul {
    text-align: center;
}

p {
    text-align: center;
}