<footer>
    <div class="footer-block">
        <div class="footer-design">
            <p>Designed By: <a href="brownandcompany.org/">Brown & Company&copy;</a>, <a href="https://www.freecodecamp.org/certification/troyfbrown/responsive-web-design">Certified in Responsive Web Design</a></p>
        </div>
        <div class="footer-contact">
            <a href="mailto:">aubrielynnmusic@gmail.com</a>
        </div>
        <p>
            <a id = "validation_link_html" href="https://validator.w3.org/check?uri=referer">
                <img style="border:0;width:88px;height:31px" src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png" alt="Valid HTML!">
            </a>
            <a id = "validation_link_css" href="https://jigsaw.w3.org/css-validator/check/referer">
                <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
            </a>
            <script>
                document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
                document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
            </script>
        </p>
    </div>
</footer>