<header>
    <div class="header-block">
        <div class="header-title">
            <span>Aubrie Lynn Music</span>
        </div>
        <div class="header-nav">
            <nav>
                <a href="index.html">Home</a>
                <a href="about.html">About Aubrie</a>
                <a href="services.html">Services & Rates</a>
                <a href="teaching.html">Teaching Experience</a>
                <a href="marching.html">Marching Experience</a>
                <a href="availability.html">Availability</a>
            </nav>
        </div>
    </div>
</header>