html {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.content-block {
    margin: auto;
    width: 80%;
    height: auto;
    padding: 20px;
}

.content-block h3 {
    text-align: left;
}
.content-block p {
    text-align: left;
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}