html {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.content-block {
    margin: auto;
    width: 80%;
    height: auto;
    padding: 20px;
}

.content-box h3 {
    text-align: left;
}
.content-box p {
    text-align: left;
}