html {
    box-sizing: border-box;
}

main {
    margin-left: 150px;
    margin-right: 150px;
}

h2 {
    text-align: center;
}

.content-block {
    margin: auto;
    width: 80%;
    height: auto;
    padding: 100px;
}

.content-block h3 {
    text-align: left;
}
.content-block p {
    text-align: left;
}

label {
    display: block;
    margin: 0.5rem 0;
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

figcaption {
    font-style: italic;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}