:root {
    --background-color: #FFFCF2;
    --color-2: #CCC5B9;
    --color-3: #403D39;
    --color-4: #252422;
    --color-5: #EB5E28;
}

html {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--color-3);
    font-family: helvetica, sans-serif;
}

main {
    margin-left: 150px;
    margin-right: 150px;
}

h1, h2, h3 {
    color: var(--color-5);
}

h2 {
    text-align: center;
}

.header-block {
    display: flex;
    flex-direction: row;
    top: 0;
    padding: 0 10px 0 10px;
    border: 2px solid;
}

.header-title {
    border: 2px solid;
    justify-self: left;
}

.header-nav {
    border: 2px solid;
    justify-self: space-between;
}

.content-block {
    margin: auto;
    width: 80%;
    height: auto;
    padding: 50px;
}

.content-block h3 {
    text-align: left;
}
.content-block p {
    text-align: left;
}

label {
    display: block;
    margin: 0.5rem 0;
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

figcaption {
    font-style: italic;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}

th {
    color: var(color-4);
}
